<!-- <ion-view view-title="{{ ((search.Term) ? search.Term : 'Saavn Home' ) + ' ('+settings.ipMode+')'}}"> -->
    <!-- <ion-header-bar align-title="left" class="bar-positive"> -->

    <!-- </ion-header-bar> -->

    <!-- <ion-content> -->

<!--         <div ui-view="main"> 
        </div>
        <div ui-view="child">
        </div> -->

        <!-- <ion-nav-view name="child"> </ion-nav-view> -->
        <ion-nav-view name="main">  </ion-nav-view>
       
        
    <!-- </ion-content> -->

<!-- </ion-view> -->
